.footer-background {
   background-color: #333;
   padding: 3rem 0;
}

.footer-container {
   padding: 2rem 7rem;
   display: flex;
   flex-direction: column;
   color: #fff;
}

.footer-container p {
   width: 60%;
   margin: 0.5rem 0 3rem;
}
.footer-container p:last-child {
   width: 100%;
   text-align: right;
   margin-bottom: 0;
}

.footer-container img {
   width: 5rem;
}

.footer-content {
   display: grid;
   grid-template-columns: 1fr 2fr 3fr 3fr;
   gap: 1rem;
   margin-bottom: 3rem;
}

.footer-content ul li {
   text-transform: capitalize;
}

.footer-content a {
   color: #fff;
}

.footer-content h5 {
   margin-bottom: 2rem;
}
@media screen and (max-width: 1400px) {
   .footer-container {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
   }
   .footer-container p,
      .footer-content h5 {
         font-size: smaller;
         margin-bottom: 1rem;
      }

      .footer-content ul li,
      .copyright {
         font-size: smaller;
         text-transform: none;
      }
}

@media screen and (max-width: 834px) {
   .footer-content {
      display: flex;
      flex-direction: column;
   }

   .footer-content ul {
      margin-bottom: 2rem;
   }
}